<header>
  <div class = "parallax">
      <div class = "text-center">
        <h4>change this smh</h4>
        <a class="btn btn-outline-secondary" href="/users/new" role="button">Sign Up</a>
      </div>
  </div>
</header>
<div class = "first-section">
  <p class = "text-center">hola amigos</p>
</div>
